[submodule "ext/Catch"]
	path = ext/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "ext/lwipcpp"]
	path = ext/lwipcpp
	url = git@github.com:malachi-iot/lwipcpp.git
[submodule "ext/moducom-memory"]
	path = ext/moducom-memory
	url = git@github.com:moducom/memory.git
	branch = dev
[submodule "ext/estdlib"]
	path = ext/estdlib
	url = git@github.com:malachi-iot/estdlib.git
	branch = dev
[submodule "ext/embr-dataport"]
	path = ext/embr-dataport
	url = git@github.com:malachi-iot/embr-dataport.git
[submodule "ext/embr-netbuf"]
	path = ext/embr-netbuf
	url = git@github.com:malachi-iot/embr-netbuf.git
