[submodule "ext/Catch"]
	path = ext/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "ext/lwipcpp"]
	path = ext/lwipcpp
	url = git@github.com:malachi-iot/lwipcpp.git
[submodule "ext/moducom-memory"]
	path = ext/moducom-memory
	url = git@github.com:moducom/memory.git
	branch = dev
